name: Publish
on:
  release:
    types: [ released ]
  workflow_dispatch:
jobs:
  publish:
    name: Release build and publish
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ 检出代码
      - name: Check out code
        uses: actions/checkout@v4

      # 2️⃣ 安装 JDK 17
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17
          cache: gradle

      # 3️⃣ 授权 gradlew
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      # 4️⃣ 发布 KSP 插件模块
      - name: Publish KSP plugin
          run: ./gradlew :AutoProcess:publishToMavenCentral --no-configuration-cache
          env:
            ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.OSSRH_USERNAME }}
            ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.OSSRH_PASSWORD }}
            ORG_GRADLE_PROJECT_signingInMemoryKeyId: ${{ secrets.SIGNING_KEY_ID }}
            ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.SIGNING_PASSWORD }}
            ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.SIGNING_PGP_KEY }}
